var config = {
	propresenter_ip: "localhost", 
	propresenter_port: 50001, // use the 'enable network' port, not the 'enable Stage Display App' port
	propresenter_password: "password", // use the 'enable Stage Display App' password
    filter_lines_starts_with: "[",
    filter_lines_split_character: "\r" // use \r for Propresenter on OSx and \n for Propresenter for Windows
	subtitle_fade_duration: 1,
};
